rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /nonces/{nonceId} {
      allow read, write: if false; // server-only
    }
    match /test/{testId} {
      allow read;
      allow create, delete, update: if false;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
